#header {
  display: none !important;
}

div.input {
  display: none;
}

div#notebook{
  padding: 0;
}

div#site{
  height: 100% !important;
}

div.output_scroll {
  height: auto;
  width: 100%;
  overflow: auto;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.out_prompt_overlay:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

#notebook-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.notebook_app {
  background-color: #fff;
}

div.cell.selected {
  border-color: #fff !important;
}

div.cell.selected:before {
  background: #fff !important;
}

div.prompt_container {
  display: none;
}

div.end_space {
  text-align: center;
}
